[submodule "vendor/material-design-icons"]
  path = vendor/material-design-icons
  url = https://github.com/google/material-design-icons
[submodule "vendor/qark"]
  path = vendor/qark
  url = git@github.com:linkedin/qark.git
  ignore = dirty
[submodule "vendor/native-secrets"]
  path = vendor/native-secrets
  url = git@github.com:kickstarter/native-secrets.git
