<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
  "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
  "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">
  <module name="TreeWalker">
    <!-- Annotations -->
    <module name="AnnotationUseStyle" />
    <module name="MissingDeprecated" />

    <!-- Block checks -->
    <module name="AvoidNestedBlocks" />
    <module name="EmptyBlock" />
    <module name="LeftCurly" />
    <module name="NeedBraces" />
    <module name="RightCurly" />

    <!-- Class design -->
    <module name="FinalClass" />
    <module name="HideUtilityClassConstructor" />
    <module name="InterfaceIsType" />
    <module name="MutableException" />
    <module name="VisibilityModifier">
      <property name="ignoreAnnotationCanonicalNames" value="Bind" />
      <property name="ignoreAnnotationCanonicalNames" value="BindBool" />
      <property name="ignoreAnnotationCanonicalNames" value="BindColor" />
      <property name="ignoreAnnotationCanonicalNames" value="BindDimen" />
      <property name="ignoreAnnotationCanonicalNames" value="BindDrawable" />
      <property name="ignoreAnnotationCanonicalNames" value="BindInt" />
      <property name="ignoreAnnotationCanonicalNames" value="BindString" />
      <property name="ignoreAnnotationCanonicalNames" value="Inject" />
      <property name="publicMemberPattern" value="^(inputs|outputs|errors|viewModel)$" />
    </module>

    <!-- Coding -->
    <module name="CovariantEquals" />
    <module name="DefaultComesLast" />
    <module name="EmptyStatement" />
    <module name="EqualsAvoidNull" />
    <module name="EqualsHashCode" />
    <module name="ExplicitInitialization" />
    <module name="FallThrough" />
    <module name="FinalLocalVariable" />
    <module name="IllegalInstantiation" />
    <module name="IllegalToken" />
    <module name="IllegalTokenText" />
    <module name="IllegalType" />
    <module name="ModifiedControlVariable" />
    <module name="MultipleVariableDeclarations" />
    <module name="NoClone" />
    <module name="NoFinalizer" />
    <module name="OneStatementPerLine" />
    <module name="ParameterAssignment" />
    <module name="SimplifyBooleanExpression" />
    <module name="SimplifyBooleanReturn" />
    <module name="StringLiteralEquality" />
    <module name="UnnecessaryParentheses" />
    <module name="VariableDeclarationUsageDistance" />

    <!-- Imports -->
    <module name="AvoidStarImport" />
    <module name="AvoidStaticImport">
      <!-- Allow static imports for utils files that enhance Java or Android.
        Avoid excluding files that contain Kickstarter business logic, unless they
        improve the readability of tests. -->
      <property name="excludes" value="com.kickstarter.libs.utils.ApplicationUtils.*" />
      <property name="excludes" value="com.kickstarter.libs.utils.BooleanUtils.*" />
      <property name="excludes" value="com.kickstarter.libs.utils.BundleUtils.*" />
      <property name="excludes" value="com.kickstarter.libs.utils.DateTimeUtils.*" />
      <property name="excludes" value="com.kickstarter.libs.utils.ExceptionUtils.*" />
      <property name="excludes" value="com.kickstarter.libs.utils.IntegerUtils.*" />
      <property name="excludes" value="com.kickstarter.libs.utils.ObjectUtils.*" />
      <property name="excludes" value="com.kickstarter.libs.utils.StringUtils.*" />
      <property name="excludes" value="com.kickstarter.libs.utils.TransitionUtils.*" />
      <property name="excludes" value="com.kickstarter.libs.utils.ViewUtils.*" />
      <property name="excludes" value="com.kickstarter.TestUtils.*" />
      <property name="excludes" value="org.mockito.Mockito.*" />
    </module>
  </module>

  <module name="FileLength">
    <property name="max" value="800" />
  </module>

  <module name="NewlineAtEndOfFile" />
</module>
