<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
  "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
  "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">
  <module name="TreeWalker">
    <!-- Annotations -->
    <module name="AnnotationUseStyle" />
    <module name="MissingDeprecated" />

    <!-- Block checks -->
    <module name="AvoidNestedBlocks" />
    <module name="EmptyBlock" />
    <module name="LeftCurly" />
    <module name="NeedBraces" />
    <module name="RightCurly" />

    <!-- Class design -->
    <module name="FinalClass" />
    <module name="HideUtilityClassConstructor" />
  </module>

  <module name="FileLength">
    <property name="max" value="800" />
  </module>

  <module name="NewlineAtEndOfFile" />
</module>
