<?xml version="1.0" encoding="utf-8"?>
<manifest
  package="com.kickstarter"
  xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.INTERNET" />


  <application
    android:name=".KsrApplication"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:theme="@style/KsrTheme">

    <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

    <activity
      android:name=".ui.activities.DiscoveryActivity"
      android:label="@string/app_name"
      android:launchMode="singleTop"
      android:theme="@style/DiscoveryActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
      android:name=".ui.activities.ProjectDetailActivity"
      android:label="@string/title_activity_project"
      android:parentActivityName=".ui.activities.DiscoveryActivity">
      <!-- Parent activity meta-data to support 4.0 and lower -->
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".ui.activities.DiscoveryActivity" />
    </activity>

    <activity
      android:name=".ui.activities.LoginToutActivity"
      android:theme="@style/LoginToutActivity" />

    <activity
      android:name=".ui.activities.LoginActivity"
      android:theme="@style/LoginActivity" />

    <meta-data
      android:name="io.fabric.ApiKey"
      android:value="bc1ad0ee879f77e88f7526c32ca0cbef853d671d" />

    <activity android:name="com.facebook.FacebookActivity"
      android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
      android:theme="@android:style/Theme.Translucent.NoTitleBar"
      android:label="@string/app_name" />

  </application>

</manifest>
