<?xml version="1.0" encoding="utf-8"?>
<manifest
  package="com.kickstarter"
  xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.INTERNET"/>

  <application
    android:name=".KsrApplication"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:theme="@style/KsrTheme">

    <activity
      android:name=".ui.activities.DiscoveryActivity"
      android:label="@string/app_name"
      android:launchMode="singleTop"
      android:theme="@style/KsrTheme.Discovery">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity
      android:name=".ui.activities.ProjectDetailActivity"
      android:label="@string/title_activity_project"
      android:parentActivityName=".ui.activities.DiscoveryActivity"
      android:theme="@style/KsrTheme.ProjectDetail">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".ui.activities.DiscoveryActivity"/>
    </activity>
  </application>

</manifest>
