package com.kickstarter.libs.utils;

import java.util.regex.Pattern;

public final class Secrets {
  private Secrets() {}

  public static final Boolean IS_OSS = true;

  public static final class Api {
    public static final class Client {
      public static final String LOCAL = "local";
      public static final String PRODUCTION = "production";
      public static final String STAGING = "staging";
    }

    public static final class Endpoint {
      public static final String PRODUCTION = "https://api.dev";
      public static final String STAGING = "https://api.dev";

      public static String hqHost(final String env) {
        return "https://api.dev";
      }
    }
  }

  public static final class KoalaEndpoint {
    public static final String STAGING = "https://koala.dev";
    public static final String PRODUCTION = "https://koala.dev";
  }

  public static final class LakeEndpoint {
    public static final String STAGING = "https://lake.dev";
    public static final String PRODUCTION = "https://lake.dev";
  }

  public static final class Optimizely {
    public static final String DEVELOPMENT = "opt-development";
    public static final String PRODUCTION = "opt-production";
    public static final String STAGING = "opt-staging";
  }

  public static final class Qualtrics {
    public static final String BRAND_ID = "brand";
    public static final String ZONE_ID = "ZN_test";
  }

  public static final class RegExpPattern {
    public static final Pattern API = Pattern.compile("\\Aapi\\z");
    public static final Pattern HIVEQUEEN = Pattern.compile("\\Adev\\z");
    public static final Pattern STAGING = Pattern.compile("\\Astaging\\z");
  }

  public static final class StripePublishableKey {
    public static final String PRODUCTION = "pk_live";
    public static final String STAGING = "pk_test";
  }

  public static final class WebEndpoint {
    public static final String PRODUCTION = "https://www.kickstarter.com";
    public static final String STAGING = "https://staging.com";
  }

  public static final class Privacy {
    public static final String DELETE_ACCOUNT = "https://kickstarter.privacy";
    public static final String REQUEST_DATA = "https://www.kickstarter.privacy";
  }

  public static final class HelpCenter {
    public static final String ENDPOINT = "https://help.me.com/path";
  }
}
