<?xml version="1.0" encoding="utf-8"?>
<manifest
  package="com.kickstarter"
  xmlns:android="http://schemas.android.com/apk/res/android">

  <application>
    <activity android:name=".ui.activities.InternalToolsActivity" />
    <activity android:name=".ui.activities.PlaygroundActivity" />
  </application>
</manifest>
