<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.kickstarter"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

  <application  android:icon="@mipmap/ic_launcher">
    <activity android:name=".ui.activities.InternalToolsActivity" />
    <activity android:name=".ui.activities.FeatureFlagsActivity"/>
    <activity android:name=".ui.activities.PlaygroundActivity" />
    <meta-data
        android:name="firebase_crashlytics_collection_enabled"
        android:value="no" />
    <provider
        android:exported="false"
        android:name="com.google.firebase.provider.FirebaseInitProvider"
        android:authorities="${applicationId}.firebaseinitprovider"
        tools:node="remove"
        />
  </application>

</manifest>
